.text{
    font-size: 20px;
}

#logo{
    width: 200px;
}

#site_header{
    background-image: url(../img/pattern.png);
    background-color: #3399ff;
    height: 100px;
}

#header_title{
    font-size: 75px;
    margin: 0px;
}

.graytext{
    color: darkgrey;
    font-size: 20px;
}

#editor{
    color: #3399ff;
}

#date{
    font-size: 15px;
}

#photo{
    width: 100%;
    
}


#tiny-text{
    font-size: 13px;
}

/* /head */

#list{
    padding-inline-start: 15px;
}

/* /list */

table { 
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    
}
#thead{
    color: white;
    background-color:#3399ff;
    text-align: left;
}

.tr-blue{
    background-color: #b3d9ff;
}

.th-short{
    width: 300px;
}

/* /table */


#monitor{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

#graph{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
}

#caption{
    color:white;
    font-size: 30px;
}