.text{
    font-size: 20px;
}

#header_title{
    font-size: 75px;
    margin: 0px;
}

#editor-info{
    color: darkgrey;
    font-size: 20px;
}

#editor{
    color: #3399ff;
}

#date{
    font-size: 15px;
}

/* /head */

#list{
    padding-inline-start: 15px;
}

/* /list */

table { 
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    
}
#thead{
    color: white;
    background-color:#3399ff;
}

.tr-blue{
    background-color: #b3d9ff;
}

td{
    padding: 15px 0px;
}


